Fase 2/Websites/QuetzalExpress/App_WebReferences/R_QE/WS_QE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarSolicitud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ape" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="con" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarSolicitudResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarSolicitudResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ape" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="con" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pes" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pre" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="cat" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarPaqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="paq" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lot" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarLoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearLoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarCategorias">
        <s:complexType />
      </s:element>
      <s:element name="cargarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarCategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarLotes">
        <s:complexType />
      </s:element>
      <s:element name="cargarLotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarLotesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarPaquetes">
        <s:complexType />
      </s:element>
      <s:element name="cargarPaquetesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarPaquetesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clienteExiste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="casilla" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clienteExisteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clienteExisteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="paqueteEstaEnLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="paq" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="paqueteEstaEnLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="paqueteEstaEnLoteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="registrarSolicitudSoapIn">
    <wsdl:part name="parameters" element="tns:registrarSolicitud" />
  </wsdl:message>
  <wsdl:message name="registrarSolicitudSoapOut">
    <wsdl:part name="parameters" element="tns:registrarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCliente" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPaquete" />
  </wsdl:message>
  <wsdl:message name="registrarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="agregarLoteSoapIn">
    <wsdl:part name="parameters" element="tns:agregarLote" />
  </wsdl:message>
  <wsdl:message name="agregarLoteSoapOut">
    <wsdl:part name="parameters" element="tns:agregarLoteResponse" />
  </wsdl:message>
  <wsdl:message name="crearLoteSoapIn">
    <wsdl:part name="parameters" element="tns:crearLote" />
  </wsdl:message>
  <wsdl:message name="crearLoteSoapOut">
    <wsdl:part name="parameters" element="tns:crearLoteResponse" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:cargarCategorias" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:cargarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="cargarLotesSoapIn">
    <wsdl:part name="parameters" element="tns:cargarLotes" />
  </wsdl:message>
  <wsdl:message name="cargarLotesSoapOut">
    <wsdl:part name="parameters" element="tns:cargarLotesResponse" />
  </wsdl:message>
  <wsdl:message name="cargarPaquetesSoapIn">
    <wsdl:part name="parameters" element="tns:cargarPaquetes" />
  </wsdl:message>
  <wsdl:message name="cargarPaquetesSoapOut">
    <wsdl:part name="parameters" element="tns:cargarPaquetesResponse" />
  </wsdl:message>
  <wsdl:message name="clienteExisteSoapIn">
    <wsdl:part name="parameters" element="tns:clienteExiste" />
  </wsdl:message>
  <wsdl:message name="clienteExisteSoapOut">
    <wsdl:part name="parameters" element="tns:clienteExisteResponse" />
  </wsdl:message>
  <wsdl:message name="paqueteEstaEnLoteSoapIn">
    <wsdl:part name="parameters" element="tns:paqueteEstaEnLote" />
  </wsdl:message>
  <wsdl:message name="paqueteEstaEnLoteSoapOut">
    <wsdl:part name="parameters" element="tns:paqueteEstaEnLoteResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_QESoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarSolicitud">
      <wsdl:input message="tns:registrarSolicitudSoapIn" />
      <wsdl:output message="tns:registrarSolicitudSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <wsdl:input message="tns:actualizarClienteSoapIn" />
      <wsdl:output message="tns:actualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <wsdl:input message="tns:registrarPaqueteSoapIn" />
      <wsdl:output message="tns:registrarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarLote">
      <wsdl:input message="tns:agregarLoteSoapIn" />
      <wsdl:output message="tns:agregarLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearLote">
      <wsdl:input message="tns:crearLoteSoapIn" />
      <wsdl:output message="tns:crearLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarCategorias">
      <wsdl:input message="tns:cargarCategoriasSoapIn" />
      <wsdl:output message="tns:cargarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarLotes">
      <wsdl:input message="tns:cargarLotesSoapIn" />
      <wsdl:output message="tns:cargarLotesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetes">
      <wsdl:input message="tns:cargarPaquetesSoapIn" />
      <wsdl:output message="tns:cargarPaquetesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clienteExiste">
      <wsdl:input message="tns:clienteExisteSoapIn" />
      <wsdl:output message="tns:clienteExisteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="paqueteEstaEnLote">
      <wsdl:input message="tns:paqueteEstaEnLoteSoapIn" />
      <wsdl:output message="tns:paqueteEstaEnLoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_QESoap" type="tns:WS_QESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarSolicitud">
      <soap:operation soapAction="http://tempuri.org/registrarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarLote">
      <soap:operation soapAction="http://tempuri.org/agregarLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearLote">
      <soap:operation soapAction="http://tempuri.org/crearLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategorias">
      <soap:operation soapAction="http://tempuri.org/cargarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarLotes">
      <soap:operation soapAction="http://tempuri.org/cargarLotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetes">
      <soap:operation soapAction="http://tempuri.org/cargarPaquetes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clienteExiste">
      <soap:operation soapAction="http://tempuri.org/clienteExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paqueteEstaEnLote">
      <soap:operation soapAction="http://tempuri.org/paqueteEstaEnLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_QESoap12" type="tns:WS_QESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarSolicitud">
      <soap12:operation soapAction="http://tempuri.org/registrarSolicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPaquete">
      <soap12:operation soapAction="http://tempuri.org/registrarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarLote">
      <soap12:operation soapAction="http://tempuri.org/agregarLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearLote">
      <soap12:operation soapAction="http://tempuri.org/crearLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategorias">
      <soap12:operation soapAction="http://tempuri.org/cargarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarLotes">
      <soap12:operation soapAction="http://tempuri.org/cargarLotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetes">
      <soap12:operation soapAction="http://tempuri.org/cargarPaquetes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clienteExiste">
      <soap12:operation soapAction="http://tempuri.org/clienteExiste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paqueteEstaEnLote">
      <soap12:operation soapAction="http://tempuri.org/paqueteEstaEnLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_QE">
    <wsdl:port name="WS_QESoap" binding="tns:WS_QESoap">
      <soap:address location="http://localhost:1051/WS_QE.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_QESoap12" binding="tns:WS_QESoap12">
      <soap12:address location="http://localhost:1051/WS_QE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>